@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Raleway:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body{ 
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    background-image:url(assets/1.jpg) ;
    background-size: 100%;
 }

 button {
    background: rgb(247, 192, 73);
    color: whitesmoke;
    border-radius: 8px;
    font-weight: bold;
    border:0;
    font-family: 'Montserrat', sans-serif;
}

/* CAPA */
header{
    height: calc( 50vh - 25px);

    background-image:url(assets/1.jpg) ;
    background-repeat: no-repeat center cover;
    background-size: 100%;
    background-repeat: no-repeat;

}
header nav {
	display: flex;
	justify-content: space-between;
    margin: auto 30px;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin: 0 30px;
}

header nav ul li a{
    /*  background: ghostwhite; */
  background-color: aqua;
  color: black;
  border-radius: 200px;
  font-weight: bold;
}

.header-content{
max-width: 400px;  
margin: 150px auto;
text-align: center;

}

.header-content h1{
margin-bottom: 10px;
}


/*Card info serivos*/
.servicos{
    text-align: center;
background: black;
height: 500px;
}

.servicos .card{
    width: 350px;
    height: 350px;
    background: black center;
    border-radius: 24px 0px;
    margin: auto;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    
margin: auto;

    
}

.servicos .card-image{
    
    width: 300px;
    height: 300px;
    border-radius: 50%;

}
.servicos .card ul {
    margin: 0 30px;
}



/*RODA-PE*/
footer{

    text-align: center;
    background: black;

}




/*Responsividade*/
@media (max-width: 767px){
    

}

@media (max-width: 480px){

    body{
        height: calc(100vh - 55px);
    }
    header nav ul
    {
       position: fixed; 
       bottom: 0;
       left: 0;
       width: 100%;
       padding: 0;
       height: 55px;
       margin: 0;
       display: flex;
       justify-content: space-between;
       align-items: center;

       z-index: 99;

       background: ghostwhite;
    }
}
p{color:ghostwhite; }
h1{color: ghostwhite;}
h2{color:ghostwhite; }
h3{color: ghostwhite;}
h5{color:ghostwhite; }
form{color:ghostwhite;}
label{color: ghostwhite;}
li{color: ghostwhite;}
ul{color: ghostwhite;}
nav{color: ghostwhite;}
